<nav class="navbar navbar-dark navbar-expand-md bg-danger" style="font-weight:600;">
  <div class="container-fluid"><a class="navbar-brand ">POLY BANK</a><button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="navcol-1" >
          <ul class="nav navbar-nav mx-auto ">
              <li (click)="isCollapsed = !isCollapsed" class="nav-item" role="presentation"><a class="nav-link active" routerLink=['/home']>HOME</a></li>
              <li (click)="isCollapsed = !isCollapsed" class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/posts']">POSTS</a></li>
              <li (click)="isCollapsed = !isCollapsed" class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/pdfs']" routerLinkActive=['router-link-active'] >NOTES</a></li>
              <li (click)="isCollapsed = !isCollapsed" class="nav-item" role="presentation"><a class="nav-link" href="#">ANNOUNCEMENT</a></li>
          </ul>
          <ul class="nav navbar-nav">
              <li (click)="isCollapsed = !isCollapsed" class="nav-item" role="presentation"><a class="nav-link" routerLink=['/login']>LOGIN</a></li>
          </ul>
      </div>
  </div>
</nav>



