<app-loading *ngIf="loading">
  </app-loading>
  <div class="row">
<div *ngFor="let data of ann" class="col-sm-12 col-md-6 col-lg-4 mb-2" style="padding-right: 0px;margin-left: 3px;">
<div class="card">
  <div class="card-body">
    <img class="d-inline-block" src="assets/img/sreejesh.jpg" style="width:40px;background-position:center;background-size:contain;background-repeat:no-repeat;">
    <p class="text-light d-inline-block text-dark" style="margin-left:5px;">{{data.userid}}</p>
    <h5 class="card-title">{{data.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{data.subtitle}}</h6>
    <p class="card-text">{{data.message}}</p>
    <a href="#" class="card-link">Agree</a>
    <a href="#" class="card-link">Not yet</a>
  </div>
</div>
</div>
</div>